.svn
*.o
*.sym
*.img
*.asm
_*
kernel
.gdbinit
*.d
*~
/bootblock
/initcode.out
/mkfs
*.patch

/BUGS
/LICENSE
/Notes
/README
/TRICKS
/runoff1
/toc.ftr
/toc.hdr
entryother 
initcode 
vectors.S
entryother
initcode
