.svn
*.o
*.sym
*.img
*.asm
_*
kernel
.gdbinit
*.d
*~
/bootblock
/initcode.out
/mkfs
*.patch

/BUGS
/LICENSE
/Notes
/README
/TRICKS
/dot-bochsrc
/kernel.ld
/runoff
/runoff.list
/runoff.spec
/runoff1
/toc.ftr
/toc.hdr
entryother 
initcode 
vectors.S
entryother
initcode
