.svn
*.o
*.sym
*.img
*.asm
_*
kernel
.gdbinit
*.d
*~
/bootblock
/initcode.out
/mkfs
*.patch

/BUGS
/LICENSE
/Notes
/README
/TRICKS
/dot-bochsrc
/entry.S
/entryother.S
/kernel.ld
/runoff
/runoff.list
/runoff.spec
/runoff1
/toc.ftr
/toc.hdr
